#use python 3.9

tensorflow-gpu==2.10.1
numpy<2
datasets
transformers==4.37.2
sentencepiece
sacremoses
evaluate
sacrebleu
editdistance

gtts
pydub

librosa
noisereduce
SpeechRecognition
fuzzywuzzy
jiwer
python-Levenshtein

django
djangorestframework
django-cors-headers